body{
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  color: white;
}

section{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  max-width: 400px;
}
.image-of-cat{
  height: 200px;
  width: 200px;
  border-radius: 1000px;
  border-color:aqua;
}
